table{
    // border: 1px solid red;
}

th, td{
    width: 200px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

#vid{
    z-index: 2;
    background-color: lightgray;
}

#vid-td{
    z-index: 1;
    background-color: lightgray;
}